export DATA_PATH_HOST=
export POSTGRES_DB=
export POSTGRES_USER=
export POSTGRES_PASSWORD=
export POSTGRES_PORT=5432
export PORTAINER_PORT=9000
export CADVISOR_PORT=8888
export SELENIUM_HUB_PORT=4444
export SELENIUM_NODE_CHROME_PORT=5556
export NODE_MAX_INSTANCES=2
export NODE_MAX_SESSION=5
