[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

selenium = "==3.12.*"
"psycopg2-binary" = "==2.7.*"
python-dotenv = "*"
gevent = "*"


[requires]

python_version = "3.6"
